absl-py==0.2.2
altair==4.1.0
appnope==0.1.0
asn1crypto==0.24.0
astor==0.6.2
attrs==18.2.0
backcall==0.2.0
base58==2.0.1
beautifulsoup4==4.6.3
bleach==1.5.0
blinker==1.4
bokeh==0.13.0
boto3==1.14.1
botocore==1.17.1
bs4==0.0.1
cachetools==4.1.0
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cliff==2.8.2
cligj==0.5.0
cmd2==0.9.6
colorama==0.4.1
configparser==3.5.0
cryptography==2.4.2
cssselect==1.0.3
cvxopt==1.2.2
cymem==2.0.2
Cython==0.28.3
cytoolz==0.9.0.1
decorator==4.3.0
defusedxml==0.6.0
dill==0.2.8.2
dnspython==1.15.0
docker==3.5.0
docker-pycreds==0.3.0
docopt==0.6.2
docutils==0.15.2
en-core-web-sm==2.0.0
entrypoints==0.3
enum-compat==0.0.3
esy-osm-pbf==0.0.1
eventlet==0.24.1
Flask==1.0.2
Flask-Cors==3.0.7
Flask-HTTPAuth==3.2.4
Flask-Login==0.4.1
Flask-Session==0.3.1
Flask-SocketIO==3.1.0
gast==0.2.0
GDAL==2.2.4
gmalthgtparser==1.1.0
google-api-core==1.17.0
google-api-python-client==1.8.4
google-auth==1.16.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
graphviz==0.10.1
greenlet==0.4.15
grpcio==1.12.1
h5py==2.8.0
html5lib==0.9999999
httplib2==0.12.0
hydroengine==0.0.30
idna==2.7
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
jsonify==0.5
jsonschema==2.6.0
jupyter-client==6.1.3
jupyter-core==4.4.0
kaggle==1.4.7.1
kaggle-cli==0.12.13
Keras==2.1.6
lxml==4.0.0
Markdown==2.6.11
MarkupSafe==1.0
MechanicalSoup==0.8.0
mistune==0.8.4
monotonic==1.5
msgpack==0.5.6
msgpack-numpy==0.4.3.2
munch==2.5.0
murmurhash==1.0.1
nbconvert==5.6.1
nbformat==4.4.0
ndg-httpsclient==0.5.1
notebook==6.0.3
numpy==1.15.4
oauth2client==4.1.3
OWSLib==0.16.0
packaging==18.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pbr==5.1.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plac==0.9.6
plotly==3.1.1
preshed==2.0.1
prettytable==0.7.2
progressbar2==3.34.3
prometheus-client==0.8.0
prompt-toolkit==3.0.3
protobuf==3.12.2
psycopg2==2.7.5
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pydeck==0.4.0b2
PyDrive==1.3.1
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.1
pyperclip==1.7.0
pyproj==1.9.5.1
python-dateutil==2.7.3
python-engineio==3.0.0
python-slugify==1.2.6
python-socketio==2.1.0
python-utils==2.3.0
pytz==2018.5
PyYAML==3.12
pyzmq==19.0.1
regex==2018.1.10
requests==2.20.1
retrying==1.3.3
richdem==0.3.4
rsa==4.0
s3transfer==0.3.3
scipy==1.1.0
selenium==3.14.0
Send2Trash==1.5.0
Shapely==1.6.1
simplejson==3.17.0
six==1.11.0
spacy==2.0.16
stevedore==1.30.0
streamlit==0.61.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==6.12.0
toml==0.10.1
toolz==0.9.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
tzlocal==2.1
ujson==1.35
Unidecode==1.0.22
uritemplate==3.0.1
urllib3==1.23
utm==0.5.0
validators==0.15.0
watchdog==0.10.2
wcwidth==0.1.7
websocket-client==0.53.0
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wrapt==1.10.11
